# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
*.venv

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.pyo

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
/media/
*.migrations/

# Ignore static and media files
staticfiles/
mediafiles/

# Local development settings (if any)
settings_local.py
.env
.env.*

# VSCode specific
.vscode/

# IDE specific
.idea/
*.swp

# macOS specific
.DS_Store

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Testing
pytest_cache/
.pytest_cache/
test_db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# Gunicorn
gunicorn.pid
